/* RESET */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* CORES */
:root {
 --bg: #0a0a0a;
 --gold: #d4af37;
 --text: #ffffff;
 --muted: #aaaaaa;
 --card: #111;
 --border: #222;
}
/* BODY */
body {
 background-color: var(--bg);
 color: var(--text);
 font-family: Arial, Helvetica, sans-serif;
}
/* LINKS */
a {
 text-decoration: none;
 color: inherit;
}
/* BOTÕES PADRÃO */
button {
 cursor: pointer;
 border: none;
 transition: 0.2s;
}
/* HOVER PADRÃO */
button:hover {
 opacity: 0.9;
}
/* INPUTS */
input, textarea {
 background: #111;
 border: 1px solid var(--border);
 padding: 10px;
 color: white;
 border-radius: 6px;
}
/* TITULOS */
h1, h2, h3, h4 {
 color: var(--text);
}
/* SCROLLBAR (opcional mas fica premium) */
::-webkit-scrollbar {
 width: 8px;
}
::-webkit-scrollbar-track {
 background: #111;
}
::-webkit-scrollbar-thumb {
 background: var(--gold);
 border-radius: 10px;
}
